/* style.css */

.pulse-success {
    animation-name: pulse-success;
    animation-duration: 1s;
}

@keyframes pulse-success {
    0%   {background-color: white;}
    10%  {background-color: #c2f0c2;}
    100% {background-color: white;}
}

.alert-container {
    position: absolute;
    width: 100%;
    z-index:100;
    pointer-events: none;
}

#message-bucket {
	pointer-events: auto;
}